
/* section about */
.progress-bar{
    background-color: #f25454;
}
.progress{
    padding: 10px 15px;
    background-color: white;
}
.progress .progress-bar {
    height: 5px;
    border-radius: 0 2px 2px 0;
}

.skill-item{
    font-weight: bolder;
}

/* ******************** */
.ser i {
color: #f25454;
font-size: 20px;
}
.seri{
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.ser p{
    font-size: 18px;
    color: #666666;
    line-height: 24.5px;
}
