
/* section about */
.progress-bar{
    background-color: #f25454;
    padding: 3px;
    border-radius: 0 2px 2px 0;

}
.progress{
    background-color: #eee;
    height: 0.5rem;
}
.skill-item{
    font-weight: bolder;
}

/* ******************** */
.ser i {
color: #f25454;
font-size: 20px;
}
.seri{
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.ser p{
    font-size: 18px;
    color: #666666;
    line-height: 24.5px;
}
